name: Build and test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy, rustfmt
      - name: Check if formatted correctly
        run: |
          cargo fmt --check
      - name: Check if code builds correctly
        run: |
          cargo check
      - name: Run tests
        run: |
          cargo test
      # - name: Static code analysis with clippy
      #   run: |
      #     cargo clippy --all -- -D warnings
